@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="indexbackground">
    <video autoplay muted loop id="backgroundvideo"><source src="/Media/video.mp4" type="video/mp4" />"Your browser does not support this video format"</video>
    <div class="text-center" id="mainpage">
        <h2 class="display-4">Welcome to<br />SampleText's Restaurant Reviews!</h2>
        <p>
            SampleText Restaurant Review is an archive of restaurant reviews from various food critics
            and hobbyists on various restaurants and stores.<br />
            Users can visit our website to get all the reviews
            they need for any restaurant that is registered with us.
        </p>
    </div>
</div>

